# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

lynx-devtool
# Android
SMUTHUB/app/build/
SMUTHUB/build/
SMUTHUB/.gradle/
SMUTHUB/local.properties
SMUTHUB/.idea/
SMUTHUB/*.apk
.osgrep

backup.sql
# Artifacts
SMUTHUB.apk
.agent/rules/*
*.idsig
temp_lynx_*
Check.java
