.SparklesWrapper {
  position: relative;
  display: inline-flex;
}

.SparkleInstance {
  position: absolute;
  pointer-events: none;
  animation: sparkle-animation 750ms linear forwards;
}

.SparkleChildWrapper {
  position: relative;
  z-index: 1;
}

@keyframes sparkle-animation {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(180deg);
    opacity: 0;
  }
}
